h1{
    float:none;
    text-align: center;
    font-family: 'Impact';
    font-size: xx-large;
    color: rgb(255, 255, 25);
    -webkit-text-stroke: 1px #000000;
}
body{
    background-color: blue;
}
.center{
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h2{
    border-color: white;
}
table{
    background-color: whitesmoke;
}
thead{
    color:black
}